
@{
    ViewBag.Title = "RegisterValidation";
}

<h2>RegisterValidation</h2>



<div>
    <h4>
        You must confirm the  registration by clicking the link sent to the mail  you  entered  while registering
    </h4>
</div>

